<?xml version="1.0" encoding="utf-8"?>
<opencbr-config>
  <mapping>
    <method interface="ICaseRetrievalMethod" impl="DefaultCaseRetrievalMethod" />
    <method interface="ICaseReuseMethod" impl="DefaultCaseReuseMethod" />
    <method interface="ICaseReviseMethod" impl="DefaultCaseReviseMethod" />
    <method interface="ISimilarity" impl="EuclideanSimilarity" />
    <method interface="ICaseReuseStrategy" impl="MaxCaseReuseStrategy" />
    <method interface="ICaseBase" impl="DefaultCaseBase" />
    <method interface="ICaseRestoreMethod" impl="DefaultCaseRestoreMethod" />
    <method interface="ICaseBaseInput" impl="DefaultCaseBaseInput" />
  </mapping>
  <parameters>
    <parameter name="CaseBaseInputType" value="1" />
    <parameter name="SimilarityThrehold" value="0.6" />
    <parameter name="CaseBaseURL" value="$CaseID=page_blocks* $DbType=Mssql *  $DataSource=Data Source=.;Initial Catalog=PhoneDB;Integrated Security=True * $DictionaryTable=tbl_dic * $DataTable=tbl_page_blocks" />
  </parameters>
</opencbr-config>